<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="AllToDo" />
  </div>
  <mat-divider></mat-divider>
 

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/dashboard">
    <mat-icon>home</mat-icon>Bandeja de entrada
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/today">
    <mat-icon>calendar_today</mat-icon> Hoy
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/auth/login"> 
    <mat-icon>edit</mat-icon> Proximo
   </a>
  
</mat-nav-list>
